// Primary

// intro and email sign up background
$dark-blue: hsl(217, 28%, 15%);

// main background
$darker-blue: hsl(218, 28%, 13%);

// footer background
$darkest-blue: hsl(216, 53%, 9%);

// testimonials background
$lighter-dark-blue: hsl(219, 30%, 18%);

// Accent

// inside call-to-action gradient
$cyan-grad: hsl(176, 68%, 64%);
$blue-grad: hsl(198, 60%, 50%);

// error
$light-red: hsl(0, 100%, 63%);

// Neutral
$white: #fff;
